body {
  font-size: .875rem;
  height: 100vh;
  overflow: hidden;
}

.sticky-top {
  z-index: 101;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.form-login {
  max-width: 330px;
  margin: auto;
  margin-top: 150px;
}

.form-login img {
  margin: auto;
  display: block;
}

.group {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.group .group-name {
  cursor: pointer;
}

.group .group-name:hover {
  color: blue;
}

.typing {
  position: absolute;
  height: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.item-message {
  padding: 5px 10px;
  border-radius: 3px;
  clear: both;
  float: left;
  margin-bottom: 5px;
  display: flex;
}
.item-message img {
  border-radius: 50%;
}
.item-message.me {
  float: right;
  clear: both;
  margin-bottom: 5px;
  text-align: right;
}

.item-message.me .item-message-content {
  background: #3578e5;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
}

.item-message .item-message-content {
  background: #eee;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
}

.item-message .item-message-content.error {
  color: red;
  font-style: italic;
}

.item-message .item-message-created-time {
  display: block;
  margin-top: 5px;
  text-align: left;
  font-size: 65%;
}

.item-message.me .item-message-created-time {
  text-align: right;
}

.extend-type-message {
  transition: all .15s linear;
}
.extend-type-message i.fa-chevron-right {
  transition: all .3s linear;
  margin-left: 5px;
}
.extend-type-message.is-extend i.fa-chevron-right {
  transform: rotate(-180deg)
}
.group {
  display: flex;
  align-items: center;
}
.group .group-avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}
.group .group-avatar img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.group .group-avatar-2 img {
  width: 100%;
}

.group .group-avatar-3 img {
  width: 50%;
}

.group .group-avatar-3 img:first-child {
  border-right: 0;
}

.group .group-avatar-4 img:first-child {
  width: 60%;
}

.group .group-avatar-4 img:nth-child(2) {
  height: 50%;
  width: 40%;
  position: absolute;
  top: 0;
  border-left: 0;
  border-bottom: 0;
}

.group .group-avatar-4 img:nth-child(3) {
  height: 50%;
  width: 40%;
  position: absolute;
  bottom: 0;
  border-left: 0;
}

.group .group-avatar-n img {
  width: 50%;
  height: 50%;
}

.group .group-avatar-n img:first-child, .group .group-avatar-n img:nth-child(3) {
  border-right: 0;
}

.group .group-avatar-n img:first-child, .group .group-avatar-n img:nth-child(2) {
  border-bottom: 0;
}

.group .group-detail {
  flex-grow: 1;
}
.group-last-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-make-new-group {

}

.modal-make-new-group-head {
  margin-bottom: 10px;
}

.modal-make-new-group-main-friends-data, .modal-make-new-group-main-friends-data-selected {
  height: 360px;
  overflow-y: auto;
}

.anticon.anticon-loading {
  margin-right: 0 !important;
}
.item-friend-in-modal-make-new-group {
  transition: all .15s linear;
}
.item-friend-in-modal-make-new-group:hover {
  background: #eee;
  cursor: pointer;
}

#icon-open-modal-make-new-group {
  transition: all .15s linear;
}

#icon-open-modal-make-new-group:hover {
  transform: rotate(45deg);
}

.item-member-of-modal-members-group {
  transition: all .15s linear;
  cursor: pointer;
}
.item-member-of-modal-members-group:hover {
  background: #eee;
}

.extend-type-message label {
  margin-bottom: 0;
}
.extend-type-message input {
  display: none;
}

.preview-files-attachment {
  padding: .375rem .75rem;
}

.item-preview-image {
  position: relative;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}

.item-preview-image::before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.item-preview-image:hover::before {
  opacity: .5;
}

.item-preview-image:hover i {
  /* display: block; */
  opacity: 1;
  z-index: 1;
}

.item-preview-image img {
  border-radius: 5px;
}

.item-preview-image i {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.message-attachments {
  clear: both;
}
.message-attachments .image:last-child {
  margin-right: 0;
}
.message-attachments-item.image {
  height: 50px;
  border-radius: 5px;
  margin: 5px 2px;
}

.input-message .fa-paper-plane-o.valid {
  color: #3578e5;
}

.input-message .fa-paper-plane-o {
  color: #ccc;
}

.input-message .fa-picture-o.selected, .input-message.fa-video-camera.selected, .input-message.fa-paperclip.selected {
  color: red;
}